/* COLOR SCHEME 
***************
#FFFFFA;
#515052;
#000103;
#333138;
#FF312E;
#343a40;
***************/
html, body{
  height: 100%;
}


footer {
  /* margin-top: 10px; */
  text-align: center;
  background: transparent;
  /* margin-bottom: 0px; */
}


/* Classes */
.navbar {
  background: none;
}

/* centered p tag in index */
.jumboP {
  text-align: center;
}

.header-link {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 85px;
  margin-top: 200px;
}

.header-link a{
  color: #333138;
}

.header-link a:hover{
  color: #FF312E;
  text-decoration: none;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

/* ID's */

/* portfolio.html */
#carousel {
  background: white;
  height: 100%;
  margin-top: 10px;
}
#carousel ol li{
  background-color:#343a40;
}

/* Contact.html */
#jumboContact {
  margin-top: 10px;
  height: 100vh;
  margin-bottom: 0px;
  background: white;
}

/* index.html */
#jumboID {
  margin-top: 10px;
  /* margin-bottom: 0px; */
  background-color: transparent;
  height: 100%;
}

#jumboID img {
  float: left;
}

/* fixed footer on home page */
#homeFooter {
  /* margin-top: 20px; */
}

/* fixed footer on contact page */
#contactFooter {
  margin-top: 20px;
}

#portFooter {
  margin-top: 20px;
}

/* fixed image on home page */

#myFace {
  height: 240px;
  width: 200px;
}

#contactIcons {
  text-align: center;
  font-size: 50px;
  animation: animated-div 3s ease-out 1s 1;
  position: inherit;
}

#contactIcons a{
  color:#343a40;

}

/*Key Frames & Animations 
--------------------------------*/
@keyframes animated-div {
  0% {
      transform: rotate(0deg);
      left: 0px;
  }

  25% {
      transform: rotate(20deg);
      left: 0px;
  }
  50% {
      transform: rotate(-20deg);
      left: 500px;
  }
  55% {
      transform: rotate(0deg);
      left: 500px;
  }
  70% {
      transform: rotate(0deg);
      left: 500px;
  }
  100% {
      transform: rotate(-360deg);
      left: 0px;
  }
}

